In [1]:
import pandas as pd
import os

In [2]:
# Diretório dos arquivos Excel
diretorio = r"C:\VilarLearn\Source\Travel"

# Lista para armazenar os DataFrames dos arquivos
dados = []

# Lista para armazenar os nomes dos arquivos
nomes_arquivos = []

# Iterar sobre os arquivos Excel no diretório
for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.xlsx'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        dados_arquivo = pd.read_excel(caminho_arquivo)
        
        # Adicionar coluna com o nome do arquivo
        dados_arquivo['Nome_Arquivo'] = arquivo
        
        dados.append(dados_arquivo)
        nomes_arquivos.extend([arquivo] * len(dados_arquivo))

# Consolidar os dados em um único DataFrame
consolidado = pd.concat(dados, ignore_index=True)

# Exibir o DataFrame consolidado
consolidado

,Número de Voo,Companhia Aérea,Origem,Destino,Data Partida,Data Chegada,Preço,Número de Passageiros,Classe,Nome_Arquivo
0,1165,Black-Castro,Lake Ashleyfurt,Rodriguezton,2024-11-03,2024-08-26,556.22,2,Executiva,planilha1.xlsx
1,8714,"Vega, Robinson and Richard",Ianland,Port Cathyville,2024-06-04,2024-11-07,550.95,1,Executiva,planilha1.xlsx
2,1042,"Anderson, Gonzalez and Kaiser",East Lindsayville,Davidview,2024-12-17,2024-10-04,607.00,3,Executiva,planilha1.xlsx
3,9423,Wilkins Inc,North Donald,Port Douglas,2024-09-16,2024-09-06,580.23,2,Executiva,planilha1.xlsx
4,9986,Gray-Vargas,Princemouth,Sotobury,2024-04-19,2024-12-23,900.34,1,Primeira Classe,planilha1.xlsx
5,4720,"Mccann, Long and Moreno",Port David,Annview,2024-01-03,2024-06-08,602.35,3,Econômica,planilha2.xlsx
6,5665,Jones Inc,West Catherine,Robertbury,2024-08-25,2024-05-08,705.07,4,Primeira Classe,planilha2.xlsx
7,2584,Reynolds Ltd,New Richard,Janetshire,2024-03-27,2024-10-04,689.14,3,Primeira Classe,planilha2.xlsx
8,2157,Cohen-Olson,Davischester,Port Zacharyside,2024-12-15,2024-04-04,951.13,5,Econômica,planilha2.xlsx
9,6684,Ayers PLC,Donnabury,Amychester,2024-11-01,2024-12-21,131.55,3,Executiva,planilha2.xlsx
10,3382,Harrington LLC,Lake Brittany,East Sheilamouth,2024-01-04,2024-04-29,796.80,5,Econômica,planilha3.xlsx
11,1089,Becker-House,Chapmanfort,Mooreton,2024-03-29,2024-08-18,556.49,2,Econômica,planilha3.xlsx
12,7054,Miller-Yu,Robertoberg,Lake Travis,2024-02-03,2024-07-28,267.06,1,Executiva,planilha3.xlsx
13,9385,Fernandez-Harris,Lake Eric,Brianchester,2024-08-28,2024-03-31,807.12,3,Executiva,planilha3.xlsx
14,4976,"Russell, Bryant and Rivera",Ryanburgh,North Gary,2024-07-29,2024-05-07,444.55,1,Executiva,planilha3.xlsx
15,7873,"Pollard, Mcguire and Hinton",Teresamouth,West Stephen,2024-12-27,2024-12-23,166.46,1,Econômica,planilha4.xlsx
16,5588,Kim-Jacobson,New Crystal,South Natalie,2024-12-03,2024-12-27,169.06,2,Primeira Classe,planilha4.xlsx
17,3677,Rios-Fernandez,Lake Laura,Clementsport,2024-11-23,2024-05-02,913.89,2,Primeira Classe,planilha4.xlsx
18,4498,Jackson-Simpson,Marybury,South Brandy,2024-11-29,2024-06-06,799.70,1,Primeira Classe,planilha4.xlsx
19,2448,Booth-Jones,South Alexandra,Port Amandaburgh,2024-04-07,2024-05-04,422.22,3,Primeira Classe,planilha4.xlsx
20,7471,Tran-Conway,North Aaron,West Brian,2024-10-23,2024-06-08,538.13,2,Econômica,planilha4.xlsx
21,5189,"Solis, Allen and Cannon",Port Ericburgh,Baileyton,2024-08-27,2024-12-30,351.92,2,Executiva,planilha4.xlsx
22,8461,Joseph Ltd,North Victor,New Christopher,2024-03-21,2024-08-08,797.14,1,Econômica,planilha4.xlsx
23,4742,Hurst PLC,Lake Pamelamouth,Jodifort,2024-12-02,2024-06-15,678.53,2,Executiva,planilha4.xlsx
24,8967,"Stephens, Daugherty and Higgins",North Jose,Joemouth,2024-02-20,2024-08-31,424.78,5,Executiva,planilha4.xlsx

In [3]:
from sqlalchemy import create_engine

# Configurações da conexão com o Azure SQL
server = 'seu_server.database.windows.net'
database = 'seu_banco_de_dados'
username = 'Seu_usuario'
password = 'Sua_senha'
driver = 'ODBC Driver 17 for SQL Server'

# String de conexão
conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"


engine = create_engine(conn_str)

# Nome da tabela no Azure SQL
nome_tabela = 'Viagens'

# Enviar DataFrame para o Azure SQL
consolidado.to_sql(nome_tabela, con=engine, if_exists='replace', index=False)

# Fechar a conexão
engine.dispose()