Conexão com o Azure Data Lake

In [1]:
#importando as bibliotecas
from azure.storage.blob import BlobServiceClient
from io import BytesIO
import pandas as pd

In [3]:

# Chaves de acesso e URL do serviço
account_key = "SuaChaveDeAcesso"
account_name = "NomeDaConta"
container_name = "NomeDoContainer"

# Cria o cliente de serviço
blob_service_client = BlobServiceClient(account_url=f"https://{account_name}.blob.core.windows.net", credential=account_key)

Leitura dos arquivos csv no container

In [4]:

def ler_arquivo_csv(account_key, account_name, container_name, blob_name, delimitador=';'):
    # Cria o cliente de serviço
    blob_service_client = BlobServiceClient(account_url=f"https://{account_name}.blob.core.windows.net", credential=account_key)

    # Obtém referência para o blob
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)

    # Lê o conteúdo do blob (arquivo CSV) em um DataFrame
    blob_content = blob_client.download_blob().readall()
    # Especifique o delimitador usando o parâmetro sep
    df = pd.read_csv(BytesIO(blob_content), sep=delimitador)

    return df

# Exemplo de uso
df_stores = ler_arquivo_csv(account_key, account_name, container_name, "Excel/Stores.csv")
df_product = ler_arquivo_csv(account_key, account_name, container_name, "Excel/Product.csv")

In [5]:
df_stores

,StoreKey,GeographyKey,StoreType,StoreName,Status,CloseReason,EmployeeCount,SellingAreaSize
0,1,693,Store,Contoso Seattle No.1 Store,On,NaN,17.0,462
1,2,693,Store,Contoso Seattle No.2 Store,On,NaN,25.0,700
2,3,856,Store,Contoso Kennewick Store,On,NaN,26.0,680
3,4,424,Store,Contoso Bellevue Store,On,NaN,19.0,455
4,5,677,Store,Contoso Redmond Store,On,NaN,33.0,560
...,...,...,...,...,...,...,...,...
301,306,586,Online,Contoso Europe Online Store,On,NaN,7.0,1000
302,307,710,Online,Contoso Asia Online Store,On,NaN,8.0,93800
303,308,693,Reseller,Contoso North America Reseller,On,NaN,15.0,450
304,309,529,Reseller,Contoso Europe Reseller,On,NaN,12.0,551
305,310,710,Reseller,Contoso Asia Reseller,On,NaN,17.0,93800

In [6]:
df_product

,ProductName,ProductDescription,Manufacturer,BrandName,ClassName,UnitCost,UnitPrice,ProductKey,ProductSubcategoryKey
0,Contoso Wireless Laser Mouse E50 Grey,Advanced 2.4 GHz cordless technology makes fre...,"Contoso, Ltd",Contoso,Economy,"10,69","20,96",873,22
1,Contoso Optical Wheel OEM PS/2 Mouse E60 Grey,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Economy,"6,63",13,879,22
2,Contoso Optical Wheel OEM PS/2 Mouse E60 Black,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Economy,"6,63",13,880,22
3,Contoso Optical Wheel OEM PS/2 Mouse E60 White,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Economy,"6,63",13,881,22
4,Contoso Optical Wheel OEM PS/2 Mouse E60 Silver,"PS/2 mouse, 6 feet mouse cable","Contoso, Ltd",Contoso,Economy,"6,63",13,882,22
...,...,...,...,...,...,...,...,...,...
1685,SV DVD 12-Inch Player Portable M400 Black,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1602,35
1686,SV DVD 9-Inch Player Portable M300 Silver,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"73,57","159,99",1606,35
1687,SV DVD 12-Inch Player Portable M400 Silver,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1607,35
1688,SV DVD 9-Inch Player Portable M300 White,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"73,57","159,99",1611,35
1689,SV DVD 12-Inch Player Portable M400 White,"6-hour rechargeable battery, 180-degree swivel...",Southridge Video,Southridge Video,Regular,"82,77","179,99",1612,35

Lista todos os blobs do azure storage

In [7]:
# Obtém referência para o contêiner
container_client = blob_service_client.get_container_client(container_name)

# Lista os blobs no contêiner
blobs = container_client.list_blobs()

# Itera sobre os blobs e faz alguma coisa (por exemplo, imprime o nome do blob)
for blob in blobs:
    print(f"Nome do Blob: {blob.name}")

# Lê o conteúdo do blob
blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob.name)
conteudo_blob = blob_client.download_blob()

Nome do Blob: Carros.csv
Nome do Blob: Excel
Nome do Blob: Excel/Calendar.csv
Nome do Blob: Excel/Channel.csv
Nome do Blob: Excel/Geography.csv
Nome do Blob: Excel/Product.csv
Nome do Blob: Excel/ProductCategory.csv
Nome do Blob: Excel/ProductSubcategory.csv
Nome do Blob: Excel/Sales.csv
Nome do Blob: Excel/Stores.csv
Nome do Blob: raw

Conexão com o Azure SQL

In [8]:
#importando as bibliotecas
from sqlalchemy import create_engine
import pyodbc

In [9]:
def criar_conexao_azure_sql(server_name, database_name, username, password):
    # Define a string de conexão
    connection_string = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server_name};DATABASE={database_name};UID={username};PWD={password};"

    # Cria a conexão
    conexao = pyodbc.connect(connection_string)

    return conexao

In [10]:
# Configurações de conexão
server_name = "seu_servidor.database.windows.net"
database_name = "seu_banco_de_dados"
username = "seu_usuario"
password = "sua_senha"

In [11]:

# Cria a string de conexão
connection_string = f"mssql+pyodbc://{username}:{password}@{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server"

# Cria uma engine de conexão usando SQLAlchemy
engine = create_engine(connection_string, echo=True)

# Inserir dados na tabela stg_stores
df_stores.to_sql(name="stg_stores", con=engine, if_exists="replace", index=False)

# Inserir dados na tabela stg_Product
df_product.to_sql(name="stg_product", con=engine, if_exists="replace", index=False)

# Fechar a conexão
engine.dispose()

2024-01-02 10:23:04,158 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-01-02 10:23:04,159 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-02 10:23:04,292 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-01-02 10:23:04,292 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ()
2024-01-02 10:23:04,556 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-01-02 10:23:04,557 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ()
2024-01-02 10:23:04,829 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-02 10:23:04,831 INFO sqlalchemy.engine.Engine [generated in 0.00185s] ('BASE TABLE', 'stg_stores', 'dbo')
2024-01-02 10:23:05,225 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-02 10:23:05,226 INFO sqlalchemy.engine.Engine [cached since 0.3965s ago] ('BASE TABLE', 'stg_stores', 'dbo')
2024-01-02 10:23:05,620 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-01-02 10:23:05,621 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ('dbo', 'BASE TABLE')
2024-01-02 10:23:05,890 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-01-02 10:23:05,891 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ('.', '.', 'stg_stores', 'dbo')
2024-01-02 10:23:06,157 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-01-02 10:23:06,158 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('stg_stores', 'dbo')
2024-01-02 10:23:06,421 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY constraint_schema, constraint_name, ordinal_position

2024-01-02 10:23:06,422 INFO sqlalchemy.engine.Engine [generated in 0.00115s] ('stg_stores', 'dbo')
2024-01-02 10:23:06,687 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-01-02 10:23:06,688 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ('stg_stores', 'dbo')
2024-01-02 10:23:06,951 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-01-02 10:23:06,952 INFO sqlalchemy.engine.Engine [generated in 0.00077s] ('stg_stores', 'dbo')
2024-01-02 10:23:07,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-02 10:23:07,347 INFO sqlalchemy.engine.Engine
DROP TABLE stg_stores
2024-01-02 10:23:07,348 INFO sqlalchemy.engine.Engine [no key 0.00107s] ()
2024-01-02 10:23:07,482 INFO sqlalchemy.engine.Engine COMMIT
2024-01-02 10:23:07,637 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-02 10:23:07,640 INFO sqlalchemy.engine.Engine
CREATE TABLE stg_stores (
	[StoreKey] BIGINT NULL,
	[GeographyKey] BIGINT NULL,
	[StoreType] VARCHAR(max) NULL,
	[StoreName] VARCHAR(max) NULL,
	[Status] VARCHAR(max) NULL,
	[CloseReason] VARCHAR(max) NULL,
	[EmployeeCount] FLOAT(53) NULL,
	[SellingAreaSize] BIGINT NULL
)


2024-01-02 10:23:07,641 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2024-01-02 10:23:07,774 INFO sqlalchemy.engine.Engine COMMIT
2024-01-02 10:23:07,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-02 10:23:07,915 INFO sqlalchemy.engine.Engine INSERT INTO stg_stores ([StoreKey], [GeographyKey], [StoreType], [StoreName], [Status], [CloseReason], [EmployeeCount], [SellingAreaSize]) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2024-01-02 10:23:07,915 INFO sqlalchemy.engine.Engine [generated in 0.00217s] ((1, 693, 'Store', 'Contoso Seattle No.1 Store', 'On', None, 17.0, 462), (2, 693, 'Store', 'Contoso Seattle No.2 Store', 'On', None, 25.0, 700), (3, 856, 'Store', 'Contoso Kennewick Store', 'On', None, 26.0, 680), (4, 424, 'Store', 'Contoso Bellevue Store', 'On', None, 19.0, 455), (5, 677, 'Store', 'Contoso Redmond Store', 'On', None, 33.0, 560), (6, 575, 'Store', 'Contoso Yakima Store', 'On', None, 47.0, 1125), (7, 838, 'Store', 'Contoso Granger Store', 'On', None, 22.0, 500), (8, 935, 'Store', 'Contoso Sunnyside Store', 'On', None, 17.0, 460)  ... displaying 10 of 306 total bound parameter sets ...  (309, 529, 'Reseller', 'Contoso Europe Reseller', 'On', None, 12.0, 551), (310, 710, 'Reseller', 'Contoso Asia Reseller', 'On', None, 17.0, 93800))
2024-01-02 10:23:48,470 INFO sqlalchemy.engine.Engine COMMIT
2024-01-02 10:23:48,609 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-02 10:23:48,611 INFO sqlalchemy.engine.Engine [cached since 43.78s ago] ('BASE TABLE', 'stg_product', 'dbo')
2024-01-02 10:23:49,006 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-02 10:23:49,007 INFO sqlalchemy.engine.Engine [cached since 44.18s ago] ('BASE TABLE', 'stg_product', 'dbo')
2024-01-02 10:23:49,398 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-01-02 10:23:49,399 INFO sqlalchemy.engine.Engine [cached since 43.78s ago] ('dbo', 'BASE TABLE')
2024-01-02 10:23:49,665 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-01-02 10:23:49,666 INFO sqlalchemy.engine.Engine [cached since 43.77s ago] ('.', '.', 'stg_product', 'dbo')
2024-01-02 10:23:49,929 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-01-02 10:23:49,930 INFO sqlalchemy.engine.Engine [cached since 43.77s ago] ('stg_product', 'dbo')
2024-01-02 10:23:50,193 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY constraint_schema, constraint_name, ordinal_position

2024-01-02 10:23:50,194 INFO sqlalchemy.engine.Engine [cached since 43.77s ago] ('stg_product', 'dbo')
2024-01-02 10:23:50,457 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2024-01-02 10:23:50,458 INFO sqlalchemy.engine.Engine [cached since 43.77s ago] ('stg_product', 'dbo')
2024-01-02 10:23:50,720 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2024-01-02 10:23:50,721 INFO sqlalchemy.engine.Engine [cached since 43.77s ago] ('stg_product', 'dbo')